<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/clean_hires"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clean_hires"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanHires"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.ProvidersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".mercor.activities.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginFirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.CleanHiresSplash"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>